{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
    <div class="container col-11">
        <div class="row">
            <div class="col text-center mt-5 mb-3 pt-3">
                <h2> The Meat Blog. </h2>
                <hr class="w-50 m-auto">
            </div>
        </div>
        <div class="text-left">
            <h3 class="mb-4">Latest Blog Entries</h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 col-xl-8 col-xxl-6 mx-auto">
                {% if posts %}
                    {% for post in posts %}
                        <div class="card d-flex mt-4 flex-column flex-sm-row bg-one p-3 pt-4">
                            <div class="blog-list-container card-body d-flex flex-row">
                                {% if post.image %}
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="blog-card-image">
                                {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="blog-card-image">
                                {% endif %}
                                <div>
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text text-muted h6">{{ post.created_on}} </p>
                                    <p class="pt-3 card-text">{{ post.content|slice:":450"|safe }}</p>
                                </div>
                            </div>
                            <aside class="read-more align-self-end">
                                <a href="{% url 'blog_detail' post.slug  %}" class="btn btn-outline-warning">Read More &rarr;</a>
                            </aside>
                        </div>
                    {% endfor %}
                    {% else %}
                    <p>Hmm...It seems like there are no blog posts at the moment. Please check back later!</p>
                {% endif %}
            </div>
        </div>
        <hr class="mt-5">
    </div>
</section>
{% endblock %}