{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="h-75 pt-4">
    <div id="first-container" class="container-fluid px-5 pb-5 pt-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1>We <span class="pr-2"><i>MEAT</i></span> The Highest Standards.</h1>
                    <p class="pt-4 lead">Calling all meat lovers! Have a browse through our delicious fresh meats of all types.</p>
                    <a href="{% url 'products' %}" class="btn btn-warning mt-3 pl-4 pr-4 pt-3 pb-3">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid bg-light px-5 pb-5">
        <div class="row">
            <div class="col-7 m-auto">
                <div class="main-banner"></div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid px-5 pb-5 my-5">
        <div class="my-5 about-us-heading">
            <h2>About Us...</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-3">
                <div class="about-us-info">
                    <p>Calling All Meat Lovers!</p>
                </div>
            </div>
            <div class="col-3">
                <div class="about-us-image">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid px-5 pb-5 mt-5 bg-light">
        <div class="my-5 subscribe-heading">
            <h2>Subscribe To Our Newsletter!</h2>
            <p>Form input</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-3">
                <div class="subscribe-image">
                </div>
            </div>
            <div class="col-3"></div>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}