@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

/* font-family: 'Montserrat', sans-serif;
 font-family: 'Open Sans', sans-serif; */

 body {
    height: calc(100vh - 164px);
    font-family: 'Open Sans', sans-serif;
 }

 .bg-light {
    background-color: #f8f9fa!important;
 }

 i, a {
    color: #69140E !important;
 }

 @media (max-width: 991px) {
    #base-nav {
        display: none;
    }
    #mobile-title {
        margin-left: 90px;
    }
 }

 @media (max-width: 517px) {
    #mobile-title {
        display: none;
    }
 }

 @media (min-width: 992px) {
    #mobile-title {
        display: none;
    }
 }

 /* Home Page */

@media (max-width: 991px) {
    #jumbotron {
        margin-top: 0 !important;
    }
}

@media (max-width: 400px) {
    #jumbotron p {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    #jumbotron h1 {
        font-size: 2rem;
    }
}

 #first-container {
    margin-top: 6rem;
 }

 .btn-warning {
    background-color: #D58936;
    color: #fefffe !important;
    border: none;
 }

 .btn-outline-warning {
    background-color: #D58936;
    color: #fefffe !important;
    border: 1px solid black;
}

.btn-outline-warning:hover,
.btn-outline-warning:active,
.btn-outline-warning:focus {
    color: #fefffe !important;
    background-color: #69140E;
    border: 1px solid black;
}

.icon > i {
    color: #fefffe !important;
}

.main-banner {
    background: url('/media/home/main-banner.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
    max-width: 60vw;
    margin-top: 50px;
}

@media (max-width: 975px) {
    .main-banner {
        height: 40vh;
    }
}

@media (max-width: 700px) {
    .main-banner {
        height: 30vh;
    }
}

@media (max-width: 550px) {
    .main-banner {
        height: 20vh;
    }
}

@media (max-width: 750px) {
    #order-container {
        justify-content: space-between !important;
    }
}

@media (max-width: 750px) {
    .order-process p {
        font-size: 0.8rem;
    }
}

@media (max-width: 650px) {
    #order-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .order-column {
        flex: 0 0 66%;
        max-width: 66%;
    }
}

@media (max-width: 950px) {
    .popular-cuts {
        flex: 0 0 33%;
        max-width: 33%;
    }
    .card-body h6 {
        font-size: 0.8rem;
    }
}

@media (max-width: 650px) {
    #cuts-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .popular-cuts {
        flex: 0 0 66%;
        max-width: 66%;
    }
}

@media (max-width: 450px) {
    .popular-cuts {
        flex: 0 0 99%;
        max-width: 99%;
    }
}

@media (max-width: 1300px) {
    #about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .about-us-col {
        flex: 0 0 66%;
        max-width: 66%;
    }
    .about-us-image {
        width: auto !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 450px) {
    .about-us-col {
        flex: 0 0 99%;
        max-width: 99%;
    }
}

@media (max-width: 1150px) {
    #subscribe-container {
        justify-content: space-evenly !important;
    }
    .subscribe-col {
        flex: 0 0 66%;
        max-width: 66%;
    }
    .subscribe-image {
        width: auto !important;
    }
}

@media (max-width: 529px) {
    .subscribe-heading {
        text-align: center !important;
        max-width: inherit !important;
    }
}

@media (max-width: 480px) {
    .subscribe-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.about-us-heading {
    max-width: 42vw;
    text-align: center;
}

.about-us-image {
    background: url('/media/home/about-us-image.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
    width: 20vw;
}

.order-process p {
    text-align: center;
}

.card-img-top-custom {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.subscribe-heading {
    max-width: 68vw;
    text-align: right;
}

.subscribe-image {
    background: url('/media/home/subscribe-image.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
    width: 20vw;
}

.image-container {
    width: 260px;
    height: 260px;
    padding: 15px;
    border-style: solid;
    border-color: #69140E;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

.footer-image {
    background: url('/media/home/footer-image.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

.header-container {
    padding-top: 100px;
}

#auth-form {
    padding-top: 8rem !important;
}

.login-form-image {
    background: url('/media/auth/login-image.jpg') no-repeat center center;
    background-size: cover;
}

.left-card {
    background-color: rgba(105,20,14, 0.3);
}

.login-card {
    border: none;
}

.auth-inner-styles p {
    margin-top: 1.9rem;
    font-weight: 750;
}

.auth-inner-styles a {
    font-weight: 750;
}

.auth-inner-styles input {
    width: 100%;
    padding: 0.5rem;
}

#login-button {
    margin-left: 1rem;
}

#signup-button {
    margin-top: 1rem;
}

.auth-inner-styles button {
    letter-spacing: 2px;
    font-weight: 100;
}


.auth-inner-styles input::placeholder {
    color: #69140E;
}

.auth-inner-styles label:not([for='id_remember']) {
    display: none;
}

#id_remember {
    width: auto;
}

.auth-inner-styles button:hover,
.auth-inner-styles input[type='submit']:hover {
    color: #fefffe;
    background-color: #69140E;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
}

#btn-back-to-top i {
    color: #fefffe !important;
}

.img-fluid {
    width: 75% !important;
}

.checkout-button {
    background-color: #69140E;
    color: #fefffe !important;
}

.checkout-button:hover,
.checkout-button:active,
.checkout-button:focus {
    background-color: #D58936;
}


.input-group button {
    background-color: #69140E;
    border: 1px solid black;
}

.input-group button:hover,
.input-group button:active,
.input-group button:focus {
    background-color: #D58936;
}

.fa-minus,
.fa-plus {
    color: #fefffe !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}
.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.message-container {
    position: fixed;
    top: 60px;
    right: 5px;
    z-index: 99999;
    /* max-width: max(25%, 280px); */
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

.heart-button {
    border: none;
    background: none;
    padding-left: 0.5rem;
}

.heart-button-two {
    border: none;
    background: none;
    padding-top: 1rem;
}

/* Blog */

.blog-card-image {
    max-width: min(100%, 485px);
}

.blog-card-image-two {
    max-width: min(100%, 700px);
}

.blog-list-container {
    gap: 1rem;
}

.read-more {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* Mailchimp CSS*/

#mc_embed_signup{
    clear:left; 
    font:14px Helvetica,Arial,sans-serif;  
    /* width:600px; */
  }