{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="bg-light pb-3">
    <div class="container col-11">
        <div class="row">
            <div class="col text-center mt-5 mb-3 pt-3">
                <h2>Shopping Basket</h2>
                <hr class="w-50 m-auto">
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if basket_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in basket_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% include "includes/product_image.html" %}
                                </td>
                                <td class="py-3">
                                    {% include "includes/product_info.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.product.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    {% include "includes/quantity_form.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="pt-5 text-right" colspan="5">
                                {% include 'includes/basket_total.html' %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="5">
                                {% include 'includes/checkout_buttons.html' %}
                            </td>
                        </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead my-5">Your shopping basket is currently empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-warning rounded-0 btn-lg">
                        <span>
                            <i class="fa fa-chevron-left text-white"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}