{% extends "base.html" %}

{% block content %}
    <section id="auth-form" class="pt-5 bg-light">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-11">
            <div class="card login-card rounded-3 text-black">
              <div class="row g-0">
                <div class="left-card col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
                    <div class="auth-inner-styles">
                      {% block inner_content %}
                      {% endblock %}
                    </div>                 
                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center login-form-image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}